<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="User" />
                <binding name="Message" />
                <binding name="Room" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/User"
                binding="wsDualHttpBinding" bindingConfiguration="User" contract="Service.IUser"
                name="User">
                <identity>
                    <userPrincipalName value="DESKTOP-BP1QFJ8\Root" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/Message"
                binding="wsDualHttpBinding" bindingConfiguration="Message"
                contract="Service.IMessage" name="Message">
                <identity>
                    <userPrincipalName value="DESKTOP-BP1QFJ8\Root" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/Room"
                binding="wsDualHttpBinding" bindingConfiguration="Room" contract="Service.IRoom"
                name="Room">
                <identity>
                    <userPrincipalName value="DESKTOP-BP1QFJ8\Root" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>